# ignore properties file (credentials)
DAQAggregator.properties
*/DAQAggregator.properties

.classpath
.project
.settings
.idea

*.class
*.jar
*.war
*.ear

target
/visualization/
/doc/
/logs/
logfile
DAQAggregator.iml
